<head>
  <link href='https://fonts.googleapis.com/css?family=Taviraj:500' rel='stylesheet' type='text/css'>
</head>

<header>
  <img src="../public/images/readslogo.jpg" height="75px" width="75px" alt="gReads logo">
  <h1>Galvanize Reads</h1>
</header>

<main>
  <h2>Add a Book</h2>
  <form action="/add" method="post">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="coverURL" placeholder="Cover URL">
    <button type="submit">Add a Book</button>
  </form>
</main>

<footer></footer>
