<header>
  <img src="/images/readslogo.png" height="75px" width="75px" alt="gReads logo">
  <a href="/">
    <h1>Galvanize Reads</h1>
  </a>
</header>
<main>
  <h2>Add an Author</h2>
  <form action="/addAuthor" method="post">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="biography" placeholder="Biography">
    <input type="text" name="portraitURL" placeholder="Portrait URL">
    <button type="submit">Add a Book</button>
  </form>
</main>
