<header>
  <img src="/images/readslogo.png" height="75px" width="75px" alt="gReads logo">
  <a href="/">
    <h1>Galvanize Reads</h1>
  </a>
</header>
<main>
  <h2>Add a Book</h2>
  <form action="/addBook" method="post">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="coverURL" placeholder="Cover URL">
    <button type="submit">Add a Book</button>
  </form>
</main>
