<body>
  <header>
    <img src="/images/readslogo.png" height="75px" width="75px" alt="gReads logo">
    <h1>Galvanize Reads</h1>
  </header>
  <main class="mainPage">
    <div id="mainAuthors">
      <a href="/authors">
        <h1>Authors</h1>
      </a>
    </div>
    <div id="mainBooks">
      <a href="/books">
        <h1>Books</h1>
      </a>
    </div>
  </main>
<body>
