body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-height: 100vh;
  background-color: #FAF8F4;
}

header {
  display: flex;
  justify-content: flex-start;
  height: 75px;
  width: 100%;
  background-color: #264653;
  color: #F0A202;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 50px;
}

.mainHeader a {
  text-decoration: none;
}

h1 {
  font-family: 'El Messiri', sans-serif;
  color: #F0A202;
  padding-left: 0.5rem;
  line-height: 35px;
}

.headerButtons {
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

.authorsButton, .booksButton {
  height: 75px;
  width: 20%;
  background-color: #67CCDE;
  margin: 100px 25px 25px 25px;
  display: flex;
  justify-content: flex-start;
}

.authorsButton a, .booksButton a {
  text-decoration: none;
  margin-left: 5px;
}

.authorsButton a h2, .booksButton a h2 {
  font-family: 'El Messiri', sans-serif;
  line-height: 45px;
  color: #FDFDFD;
}

.bookCover, .authorPortrait {
  height: 200px;
  width: auto;
}

.mainPage {
  display: flex;
  height: 70%;
  width: 70%;
  margin: 150px auto;
  justify-content: center;
  align-items: center;
}

#mainAuthors {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 600px;
  background: url("/images/authorsmain.jpg") no-repeat;
  background-size: 100%;
}

#mainBooks {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 600px;
  background: url("/images/booksmain.jpg") no-repeat;
  background-size: 100%;
  margin: 10px;
}

#mainAuthors a, #mainBooks a {
  text-decoration: none;
}

#mainAuthors h1, #mainBooks h1 {
  text-decoration: none;
  color: #264653;
  line-height: 250px;
}

.displayBook, .displayAuthor, .addAuthorOrBook {
  width: 70%;
  margin-left: 15rem;
}

.displayBook, .displayAuthor {
  padding: 2rem;
  margin-bottom: 5rem;
}

.bookOrAuthorListContent h3, div {
  float: right;
}

.addAuthorOrBook {
  background-color: #67CCDE;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 10px;
}

.addAuthorOrBook a {
  text-decoration: none;
  color: #FDFDFD;
}

.editBookOrAuthor img, .deleteBookOrAuthor img {
  height: 35px;
  width: 35px;
  margin: 5px;
  float: right;
}

.editForm, .deleteForm, .detail {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 5rem;
  float: right;
  width: 70%;
}

.detail img {
  height: 200px;
  width: 150px;
}

.editOrDeleteButton {
	background-color: #67CCDE;
	color: #FDFDFD;
	font-size: 20px;
	font-family: 'El Messiri';
	padding: 13px 32px;
	text-decoration: none;
}
