body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-height: 100vh;
  background-color: #FAF8F4;
}

header {
  display: flex;
  justify-content: flex-start;
  height: 75px;
  width: 100%;
  background-color: #264653;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  font-family: 'El Messiri', sans-serif;
  color: #F0A202;
  padding-left: 0.5rem;
  line-height: 35px;
}

.headerButtons {
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

.authorsButton, .booksButton {
  height: 75px;
  width: 20%;
  background-color: #67CCDE;
  margin: 25px;
  display: flex;
  justify-content: flex-start;
}

.authorsButton a, .booksButton a {
  text-decoration: none;
  margin-left: 5px;
}

.authorsButton a h2, .booksButton a h2 {
  line-height: 45px;
  color: #FDFDFD;
}

.bookCover, .authorPortrait {
  height: 200px;
  width: auto;
}

.mainPage {
  display: flex;
  height: 50%;
  width: 50%;
}

#mainAuthors {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 400px;
  background: url("/images/authorsmain.jpg") no-repeat;
  background-size: 100%;
}

#mainAuthors a, #mainBooks a {
  text-decoration: none;
  color: #F18805;
}

#mainBooks {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 400px;
  background: url("/images/booksmain.jpg") no-repeat;
  background-size: 100%;
  margin: 10px;
}

.mainButtons {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #264653;
  margin: 5px;
  border-radius: 5px;*/
  float: right;
}

.displayBook, .displayAuthor {
  width: 70%;
}

.displayBook ul, .displayAuthor ul {
  list-style: none;
}

.editBookOrAuthor, .deleteBookOrAuthor {
 height: 50px;
 width: 50px;
 background-color: #67CCDE;
 margin: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 float: right;
}

.editBookOrAuthor a, .deleteBookOrAuthor a {
 color: #FDFDFD;
 text-decoration: none;
}

.floatRight {
   float: right;
}
